__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

venv/
.env/
.env.*

.pytest_cache/

.ipynb_checkpoints/

*.log

checkpoints/
wandb/
pretrained/
runs/
outputs/

data/processed/
data/raw/

.vscode/

.DS_Store
Thumbs.db
